<input id='inpView' type='hidden' value='viewEditTarea' />

<div class='container'>
  <div class='title-page'>
    <p>Editar tarea</p>
  </div>

  <div class='row justify-content-md-center'>

    <div class='col col-sm-12 col-md-6'>

      <div class='card p-3 mt-4'>
        <form class='row' action=''>

          <input id='inpIdTarea' type='hidden' value='{{objTarea._id}}' />

          <div class='col-sm-12 mb-3'>
            <label for='inpDescripcion' class='form-label'>Texto descripci칩n</label>
            <textarea id='inpDescripcion' class='form-control fitem' rows='3'></textarea>
            <div id='feedBackDescripcion' class='feedback_box'></div>
          </div>

          <div class='col-sm-12 col-md-6 mb-3'>
            <label for='selCategoria' class='form-label'>Selecciona una categoria</label>
            <select id='selCategoria' class='form-select fitem' aria-label='Default select example'>
              <option selected value='' disabled>Selecciona categoria</option>
            </select>
            <div id='feedBackCategoria' class='feedback_box'></div>
          </div>

          <div class='col-sm-12 col-md-6 mb-3'>
            <label for='selSubcategoria' class='form-label'>Selecciona una subcategoria</label>
            <select id='selSubcategoria' class='form-select fitem' aria-label='Default select example'>
              <option selected value='' disabled>Selecciona subcategoria</option>
            </select>
            <div id='feedBackSubcategoria' class='feedback_box'></div>
          </div>

          <div class='col-sm-12 col-md-6 mb-3'>
            <label for='inpFechaDesde' class='form-label'>Desde</label>
            <input id='inpFechaDesde' type='date' class='form-control fitem' placeholder='Descripci칩n' />
            <div id='feedBackFechaDesde' class='feedback_box'></div>
          </div>

          <div class='col-sm-12 col-md-6 mb-3'>
            <label for='inpFechaHasta' class='form-label'>Hasta</label>
            <input id='inpFechaHasta' type='date' class='form-control fitem' placeholder='Descripci칩n' />
            <div id='feedBackFechaHasta' class='feedback_box'></div>
          </div>

          <div class='col-sm-12 col-md-6 mb-3'>
            <label for='selEstado' class='form-label'>Selecciona una estado</label>
            <select id='selEstado' class='form-select fitem' aria-label='Default select example'>
              <option selected value='' disabled>Selecciona estado</option>
              <option value='Doing'>Doing</option>
              <option value='To Do'>To Do</option>
              <option value='Done'>Done</option>
            </select>
            <div id='feedBackEstado' class='feedback_box'></div>
          </div>

          <div class='d-flex justify-content-center'>
            <button id='btnAtras' type='button' class='btn btn-light' onclick='history.back()' style='margin: 1rem;'> <i class='bx bx-arrow-back'></i> Atr치s</button>
            <button id='btnEditar' type='button' class='btn btn-primary' style='margin: 1rem;'>Editar <i class='bx bxs-cat bx-tada'></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<script src='/js/tarea/vweditartarea.js'></script>