* {
  font-family: 'Kanit', sans-serif;
}

.display_none {
  display: none;
}

.txt-danger {
  font-weight: bold;
  font-size: 1.2rem;
  color: #a70000;
}

.footer {
  padding: 1rem;
  text-align: center;
}