{{! Idea https://www.youtube.com/watch?v=ArTVfdHOB-M&ab_channel=OnlineTutorials }}

<div class='cont-navbar sticky-top'>
  <div id='navBar' class='navigation'>
    <ul>
      <li id='itemHome' class='list'>
        <a href='/tarea/lista/1'>
          <span class='icon'>
            <i class='bx bx-home'></i>
          </span>
          <span class='text'>Tareas</span>
        </a>
      </li>
      <li id='itemInforme' class='list'>
        <a href='/tarea/informe'>
          <span class='icon'>
            <i class='bx bxs-report'></i>
          </span>
          <span class='text'>Informe</span>
        </a>
      </li>
      <li id='itemAddCate' class='list'>
        <a href='/categoria/agregar'>
          <span class='icon'>
            <i class='bx bx-message-square-add'></i>
          </span>
          <span class='text'>Add cate</span>
        </a>
      </li>
      <li id='itemEditCate' class='list'>
        <a href='/categoria/editar'>
          <span class='icon'>
            <i class='bx bx-edit-alt'></i>
          </span>
          <span class='text'>Edit cate</span>
        </a>
      </li>
      <li id='itemConfig' class='list'>
        <a href='#'>
          <span class='icon'>
            <i class='bx bx-cog'></i>
          </span>
          <span class='text'>Config</span>
        </a>
      </li>
      <div class='indicator'>

      </div>
    </ul>
  </div>
</div>

<script src='/js/navbar/navbar.js'></script>