<h2>Agregar categorias y subcategorias</h2>

<div class='container'>
  <div class='row justify-content-md-center'>
    <div class='col col-sm-12 col-md-6'>
      <div class='card p-3'>
        <form action=''>
          <label for='inpNuevaCategoria' class='form-label'>Agregar nueva categoria</label>
          <input id='inpNuevaCategoria' type='input' class='form-control' placeholder='Agregar nueva categoria' />
          <div id='feedBackNuevaCategoria' class='feedback_box'></div>

          <label for='inpNuevaSubcategoria' class='form-label'>Agregar nueva subcategoria</label>
          <input id='inpNuevaSubcategoria' type='input' class='form-control' placeholder='Agregar nueva subcategoria' />
          <div id='feedBackNuevaSubcategoria' class='feedback_box'></div>

          <button id='btnAgregarCategoria' type='button' class='btn btn-primary'>Agregar</button>

        </form>
      </div>
    </div>
  </div>
</div>

<a href='/categoria/prueba-flash'>Oprimemesta</a>

<script src='/js/vwagregarcategoria.js'></script>