<h2>Agregar categorias y subcategorias</h2>

<div class='container'>
  <div class='row justify-content-md-center'>

    <div class='col col-sm-12 col-md-6'>
      <div class='card p-3'>
        <form action=''>
          <label for='inpNuevaCategoria' class='form-label'>Agregar nueva categoria</label>
          <div class='input-group'>
            <input id='inpNuevaCategoria' data-idcat='' type='input' class='form-control inp_x' placeholder='Agregar nueva categoria' autocomplete='off' />
            {{! <div id='optionsList' class='option_list_box display_none'></div> }}
            <button class='btn btn-outline-secondary btn_input_x' type='button' id='btnClearInpNuevaCategoria'><i class='bx bx-x'></i></button>
          </div>
          <div id='feedBackNuevaCategoria' class='feedback_box'></div>

          <label for='inpNuevaSubcategoria' class='form-label'>Agregar nueva subcategoria</label>
          <div class='input-group'>
            <input id='inpNuevaSubcategoria' type='input' class='form-control inp_x' placeholder='Agregar nueva subcategoria' autocomplete='off' />
            <button class='btn btn-outline-secondary btn_input_x' type='button' id='btnClearInpNuevaSubcategoria'><i class='bx bx-x'></i></button>
          </div>
          <div id='feedBackNuevaSubcategoria' class='feedback_box'></div>

          <button id='btnAgregarCategoria' type='button' class='btn btn-primary'>Agregar</button>

        </form>
      </div>
    </div>
  </div>
</div>

<script src='/js/categoria/vwagregarcategoria.js'></script>