<h2>Editar categorias y subcategorias</h2>

<div class='container'>
  <div class='row justify-content-md-center'>
    <div class='col col-sm-12 col-md-6'>

      <div class='card p-3'>
        <form action=''>
          <label for='selConfigCategoria' class='form-label'>Listado de categorias</label>

          <select id='selConfigCategoria' class='form-select' aria-label='Default select example'>
            <option selected value='' disabled>Selecciona una categoría</option>
          </select>
          <div id='feedBackConfigCategoria' class='feedback_box'></div>

          {{! Si le dan editar se cambian todas los nombres de categorias que tengan las tareas por el nuevo nombre de categoria que le pongan }}
          {{! Si le dan editar se cambian todas los nombres de categorias que tengan las subcategorias por el nuevo nombre de categoria que le pongan }}
          <button id='btnEditarCategoria' type='button' class='btn btn-primary' disabled>Editar</button>
          {{! Se elimina la categoria con todas sus subcategorias }}
          <button id='btnEliminarCategoria' type='button' class='btn btn-primary' disabled>Eliminar</button>

          {{! Si le pongo un botón de eliminar que pasa con las tareas que tengan esta categoría? }}
        </form>

        <div id='contListado' class='display_none'>
          <h3>Listado de subcategorias</h3>
          {{! TODO que se pueda agregar subcategorias desde este apartado }}
          <button id='btnAgregarSubcategoria' type='button' class='btn btn-primary'>Agregar subcategoria</button>
          <table id='tableSubcategorias' class='table'>
            <thead>
              <tr>
                <th scope='col'>Subcategoría</th>
                <th scope='col'>Editar</th>
                <th scope='col'>Eliminar</th>
                <!-- Si se elimina ¿poner 'subcategoría eliminada' en tareas?'-->
              </tr>
            </thead>
            <tbody id='bodyTableSubcategorias' class=''>

            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>

<script src='/js/categoria/vweditarcategorias.js'></script>