{{! Solo lo pongo para que el navbar no quede todo bug xD }}
<input id='inpView' type='hidden' value='viewHome' />

<div class='container'>
  <h1 class='txt-error-404'>Página no encontrada</h1>
  <p style='text-align: center; margin: 3rem'><button class='gohome' onclick="window.location.href='/'">Ir a home</button></p>

  <img width='500px' src='img/undraw_personal_trainer_re_cnua.svg' class='img-fluid mx-auto d-block' alt='No encontrada' />
</div>